.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

// nav 下方內容-->外層
.main-wraper {
  display: flex;
  flex: 1 1 100%;
  margin: 0 auto;
  /* max-width: 1300px; */
  height: 90vh;
}
// 左邊 list
.content-left {
  -webkit-box-flex: 1;
  -webkit-box-sizing: border-box;
  background-color: #2f3136;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1 0 300px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  justify-content: flex-end;
}

// 右邊內容
.content-right {
  -webkit-box-flex: 1;
  background-color: #36393f;
  flex: 1 1 1000px;
  overflow: hidden;
  z-index: 2;
  display: flex;
  height: 100%;
  min-height: 1px;
}

.content-right-flex {
  box-sizing: border-box;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 1000px;
  padding: 40px 20px;
}
.content-right-flex-title {
  color: #ffffff;
}
.content-left-flex {
  display: flex;
  justify-content: flex-end;
  min-width: 300px;
  padding: 40px 5px 40px 20px;
}

.content-right-flex-detail {
  display: flex;
}

.content-right-square {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  flex: 0 0 auto;
  height: auto;
  padding: 16px 0 0 16px;
  width: 20%;
}

// 圖片
.insert-pic {
  background-image: url(../images/discord_red.png);
  background-size: 100% 100%;
  border-radius: 30px;
}

.insert-size {
  width: 45px;
  height: 27px;
}


@media (max-width: 800px) {
    .content-left {
        display: none;
    }
}
// RWD  , 小於768
@media (max-width: 768px) {

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-flow: column;
    justify-content: baseline;
    align-items: center;
  }
  .main-wraper {
    height: auto;
  }
  .content-right-flex-detail {
    justify-content: center;
  }
  .column-width {
    width: 62%;
    margin-bottom: 3em;
  }
}
