.wrapper-nav {
}

// 上方nav 格式
.nav {
  flex: 1;
}
.navbar {
  flex: 1 1 auto;
  margin: 0 auto;
  max-width: 1300px;
  height: 10vh;
}

// 連結
a {
  color: white;
}
a:hover {
  color: #00b7ff;
}


// icon
.img-dicord-icon {
  width: 45px;
}

.img-dicord-red {
  width: 45px;
  border-radius: 30px;
  cursor: pointer;
}

.flex-child-left {
  width: 280px;
}
.dropdown-toggle::after  {
  display: none;
}

.li::after {
  display: none;
}
.dropdown-menu  {
  transform: translate(-115px);
}