<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body onload="loadSession()">
    <% include nav %>
    <script>
      function loadSession() {
        var session = JSON.parse('<%- session %>');
        if (typeof session.userid !== "undefined") {
          document.getElementById("disId").innerHTML =
            '<li class="nav-item dropdown clearfix insert-pic" id="disId">\
              <a class="nav-link dropdown-toggle insert-size" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>\
              <div class="dropdown-menu">\
                <a class="dropdown-item" href="#" onclick="">profile</a>\
                <a class="dropdown-item" href="#" onclick="clearSession()">logout</a>\
              </div>\
            </li>';
          //session.userid;
        } else {
          document.getElementById("disId").innerHTML =
            '<a class="nav-link" href="auth">Discord登入</a>';
        }
        // 抓取session
        // console.log(session);
        var userSession = JSON.stringify(session);
        localStorage.setItem("AccessUser", userSession); // 寫進localstorage

        var getUser = localStorage.getItem("AccessUser"); // 取值
        var getUserAry = JSON.parse(getUser); // 把string 包成 object
        var savelocation = getUserAry["token"]; // token

        // 1. localStorage 有 session 無
        // 2. localStorage 無 session 有
        // 3. localStorage 無 session 無 
        if (
          typeof session.userid == "undefined" &&
          typeof getUser !== "undefined"
        ) {
          // window.location = "http://localhost:3000/token/" + savelocation;
        } else if (
          typeof session.userid !== "undefined" &&
          typeof getUser == "undefined"
        ) {
          window.location = "http://localhost:3000/auth/";
        } else if (
          typeof session.userid == "undefined" &&
          typeof getUser == "undefined"
        ) {
          window.location = "http://localhost:3000/auth/";
        }
        if (session.hasOwnProperty("token")) {
        }

        if (session.hasOwnProperty("token")) {
        }
      }
    </script>

    <% include main %>
    <% include footer %>
  </body>
</html>
