<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <% include nav %>
  <div class="content-wraper">
      <div class="wraper-space">
        
      </div>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <ul>Change log
            <li>Legal</li>
            <li>Reference</li>
          </ul>



    <div class="content-right">
      <div class="rihgt-conent">
        <h2>Introduction</h2>
        You've found the Discord Develpment
      </div>
    </div>

  </div>




  <!--     <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
-->

<% include footer %>
</body>
</html>
