<div class="main-wraper">
  <div class="content-left">
    <div class="content-left-flex">
      <!-- <div class="content-left-flex-word">
              Welcome!
                This site is home to all development on Discord. Bring bots to life with our API and invite them to join
                your community.
                Find the perfect feature set for your game in our Game SDK, and sign up for Server Commerce to start selling
                directly in your server.
                Get started by creating a new application. We can't wait to see what you make!
          </div> -->

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1">Disabled</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- <ul>Change log
              <li>Legal</li>
              <li>Reference</li>
            </ul> -->

  <div class="content-right">
    <div class="content-right-flex">
      <div class="content-right-flex-wraper">
        <div class="content-right-flex-title">
          <h2>MY APPLICATIONS</h2>
        </div>
        <div class="content-right-flex-detail">
          <div class="row">
            <div class="col-md-3 column-width">
              <div class="card">
                <img class="card-img-top" src="images/discord_red.png" />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 column-width">
              <div class="card">
                <img class="card-img-top" src="images/discord_red.png" />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 column-width">
              <div class="card">
                <img class="card-img-top" src="images/discord_red.png" />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 column-width">
              <div class="card">
                <img class="card-img-top" src="images/discord_red.png" />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
