<div class="wrapper-nav bg-dark">
  <nav class="navbar navbar-expand navbar-dark ">
    <div class="flex-child-left">
    <img class="img-dicord-icon" src="images/Discord-Logo-White.png">
    <a class="navbar-brand" href="#">超競實驗室</a>
    </div>


  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#">Applications</a>
    </li>
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </li> -->

    <li class="nav-item">
      <a class="nav-link" href="#">Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" tabindex="-1">Documentation</a>
    </li>
  </ul>
  <img class="img-dicord-red" src="images/discord_red.png">
  </nav>
</div>
<script>

</script>
