body {
/*  padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



.img-dicord-icon {
	width: 45px;
}

.img-dicord-red{
	width: 45px;
	border-radius: 30px;
	cursor: pointer;
}

.flex-child-left {
	width: 280px;
}
.wrapper-nav {
}
.nav {
	flex: 1;
}
.navbar {
	flex: 1 1 auto;
	margin: 0 auto;
		max-width: 1300px;
		height: 10vh;
}
a {
  color: white;
}
a:hover {
	color: #00B7FF;
}

.content-wraper {
	display: flex;
  flex: 1 1 100%;
  margin: 0 auto;
	/* max-width: 1300px; */
	height: 90vh;
}

.content-left {
	-webkit-box-flex: 1;
	-webkit-box-sizing: border-box;
	background-color: #2f3136;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex: 1 0 300px;
	min-width: 250px;
	overflow: hidden;
	position: relative;
	z-index: 2;
	justify-content: flex-end;
}
.content-right {
	-webkit-box-flex: 1;
	background-color: #36393f;
	flex: 1 1 1000px;
	overflow: hidden;
	z-index: 2;
}

.wraper-space {

}
.left-flex {
	display: flex;
	justify-content: flex-end;
	min-width: 300px;
}
